*/__pycache__/*
*.idea*
*.pyc
remote_server_and_clients.txt

src/venv

doc

src/*.cfg

src/export*

# a place to keep local backups etc
local_user

# the ludit_local.js.template is force added, ignore all other copies
ludit_local*
