{
    "papower" : {
        "bcm":  25,
        "active": "high",
        "enabled": true
    },
    "speakerrelay" : {
        "bcm":  15,
        "active": "high",
        "enabled": true
    },
    "led_red" : {
        "bcm":  22,
        "active": "high",
        "enabled": true
    },
    "led_green" : {
        "bcm":  23,
        "active": "high",
        "enabled": true
    }
}
