html {
	height: 100%;
	font-family: 'Nunito', sans-serif;
	-webkit-font-smoothing: antialiased;
}

body {
	background: linear-gradient(to bottom right, #3D4258, #6670A0, #9688B4);
	line-height: 1.5;
}

h1 {
	font-weight: 200;
	font-size: 3rem;
	color: white;
	text-align: center;
}

.tabs {
	max-width: 600px;
	margin: 0 auto;
}

.tab-list {
	padding-bottom: 1rem;
}

.tab {
	border: 1px solid transparent;
	border-radius: 40px;
	display: inline-block;
	text-decoration: none;
	padding: .5rem 1rem;
	color: rgba(255, 255, 255, .6);
	font-weight: 700;
	background: rgba(10, 20, 30, .2);
}

.tab.active {
	color: white;
	background: rgba(255,255,255,.1);
	border: 1px solid rgba(255, 255, 255, .6);
}

.tab-content {
	background: linear-gradient(to bottom right, white, #F8F8F8);
  box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.3), 0 35px 50px -25px rgba(0, 0, 0, 0.3), 0 85px 60px -25px rgba(0, 0, 0, 0.1);
	display: none;
	padding: 1.5rem;
	color: #4a5666;
}

.show {
	display: block;
}

label + label {
	margin-left: 20px;
}
